@font-face{
  font-family: "Compagnon";
  src: url("./fonts/Compagnon-Medium.otf");
}

@font-face{
  font-family: "Compagnon Italic";
  src: url("./fonts/Compagnon-Italic.otf");
}

@font-face{
  font-family: "Compagnon Light";
  src: url("./fonts/Compagnon-Light.otf");
}

@font-face{
  font-family: "Compagnon Roman";
  src: url("./fonts/Compagnon-Roman.otf");
}

@font-face{
  font-family: "Compagnon Script";
  src: url("./fonts/Compagnon-Script.otf");
}

@font-face{
  font-family: "Lovelo";
  src: url("./fonts/Lovelo-LineBold.otf");
}

:root{
  --main-color: #FCFFEB;
  --back-color: #000501;
}


* {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

body{
  background-color: var(--back-color);
  color: var(--main-color);
}

/* class image liens vers les pages personnels */



h1{
	font-family: '36Days', cursive;
	font-size: 3.3em;
  color: var(--main-color);
	text-align:center;
  margin-top: 3.7%;
}

#pp{
  width: 20%;
  align-self: center;
  margin: 10%;


}

.link_image{
 width: 20%;
  
}

h2{
  font-family: '36Days', cursive;
	font-size: 1.5em;
  color: var(--main-color);
	text-align:center;
  margin-top: 3.7%;

}



.button{
  border-bottom:  var(--main-color) 0.18em;
  border-radius: 0.125em;
  padding: 0.938em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  font-family: 'Compagnon Light', cursive;
  margin: 0.25em 0.125em;
  cursor: pointer;

  /* pour qu'ils restent à leur place */
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  
}

#button1{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 5%;
  margin-bottom: 1.5%;
}

#button2{
  position:fixed;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 1.5%;
}


a{
  text-decoration: none;
  color: var(--main-color);
}

.ligne{
  color: var(--main-color);
}